.input {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

.input label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input span {
  height: 2em;
}

.btn {
  width: 100%;
  height: 4em;
  border: 0;
  background-color: #e54937;
  border-radius: 3px;
}

.input img.icon {
    filter: invert(0.7);
    flex: 1;
    width: 40px;
    margin-right: 1em;
}

.rain {
  position: fixed;
  animation-duration: 2s;
  animation-name: slidedown;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  height: 40px;
  top: -70px;
}

@keyframes slidedown {
  from {
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);

  }
  99.99999% {
    top: 120%;
  }
  to {
    top: -70px;
  }
}
